.bestArticleLayer {
    margin: 0 auto;
    margin-bottom: 40px;
    // 미디어 쿼리를 통해 창크에 따른 마진 설정

    .bestArtitlceTitle {
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.87px;
        color: var(--cool-Gray900);
    }
    .bestArticleList {
        display: flex;
        gap: 24px;
            
        .bestArticle {
            display: flex;
            width: 384px;
            flex-direction: column;
            background-color: var(--cool-Gray50);
            border-radius: 8px;
            padding: 0px 24px 8px 24px;
            .bestIcon {
                margin-bottom: 16px;
            }
        }
    }
}